@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Josefin+Sans&family=Montserrat:ital,wght@1,200&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
    /* font-family: 'Montserrat', 'Josefin Sans', sans-serif, Helvetica, sans-serif; */
}

#logo_link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

#background {
    height: 725px;
    background-color: #909396;
}

body {
    background-color: #dddddc;
    font-family: 'Montserrat', 'Josefin Sans', sans-serif, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #878472;
}

nav a:hover {
    background-color: #dad9d4;
    color: #3e4041 
}

.book, .join {
    background-color: #a1a19c;
    color: #3e4041;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}


.book:hover, .join:hover {
    background-color: #f8f8f0;
    color: #909396;
}

.msg {
    background-color: #265e7c ;
    line-height: 1.5em;
    padding: 35px;

}

.home-title {
    color: #556e81;
    font-family: 'Caveat', cursive;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #4b4a49;
}

.msg h2 {
    color: #909494;
    font-family: 'Caveat', cursive;
}

.msg p {
    color: #b3b8b8;
    font-size: .8em;
    padding-bottom: 15px;

}

footer h3 {
    color: black;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

h2 {
    margin: 0;
}

footer {
    background-color: #adb6bd;
    margin-top: 200px;
    padding: 25px 50px;
}

footer a {
    color: #265e7c;
    text-decoration: none;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

footer a:hover {
    color: #424444;
}

.card-img {
    border: 10px solid #878472;
}

main section img {
    box-sizing: border-box;
}