
/* import the color pallette I would like to use */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:ital,wght@1,200&family=Raleway:wght@300&family=Zen+Kaku+Gothic+Antique&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Architects Daughter', 'Josefin Sans', sans-serif, Helvetica, sans-serif;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;

}

.logo {
    width: 135px;
    border-radius: 50%;
    margin-left: 75px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

nav a {
    text-align: center;
    color: #265e7c;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #EEF1EF;
    color: #53131E; 
}

header {
    background-color: #adb6bd;
    display: grid;
    grid-template-columns: 150px auto;
}



/* Home Page CSS */
#introduction_to_tutoring {
    background-color: #265e7c;
    margin: 25px 20px 5px 20px;
    display: flex; 
    justify-content: space-around;
    font-family: 'Zen Kaku Gothic Antique'; 
    border-radius: 5px; 
    max-width: 1600px;
}

#introduction_to_tutoring #circle {
    background-color:#adb6bd;
    width: 170px;
    height: 170px;
    border-radius: 50%; 
    position: relative;
    margin: 10px 0 10px 0;
}

#introduction_to_tutoring #circle h3{
    font-size: 45px;
    margin: 47px 0 0 15px;
}

#introduction_to_tutoring h2 {
    font-size: 55px;
    font-family: 'Architects Daughter';
    color:#ddebf7; 
    align-self:center;
    padding-left: 0;
    position:relative;
    right: 4%;
    text-shadow: 2px 2px #444546;
}

li {
    padding-bottom: 20px;
}

#what_is_it {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 20px -150px 20px;
    background-color: #e2e7eb;
    max-width: 1600px;
}

#what_is_it h3 {
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 50px;
    font-size: 25px;
    font-family: 'Architects Daughter';
    position: absolute;
    line-height: 30px;
    color: #A93F55;
    text-align: center;
}

.students_working_together {
    width: 90%;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 350px;
    margin-left: 43px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}

#tutoring_is_bulletpoints {
    margin: 200px 15px 35px 25px;
    background-color: #c3c6c9;
    font-family: 'Josefin Sans';
    font-size: 20px;
    grid-column: 2/3;
    padding: 25px;
    font-weight: bold;
}



/* Page2 CSS */
#who_and_what {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: 'Zen Kaku Gothic Antique';
}

#title {
    grid-column: 3/5;
    grid-row: 1/2;
    font-size: 55px;
    margin-top: 130px;
    margin-left: 100px;
    color:#e2e7eb;
    font-family: 'Architects Daughter';
    text-shadow: 2px 2px #444546;

}

.diploma_img {
    width: 70%;
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    margin: 75px 0 0 70px;
    border: 40px solid #5b5b5c;
    border-radius: 5px;
}

#who_bulletpoints{
    background-color:#e2e7eb;
    grid-column: 4/5;
    grid-row: 2/5;
    font-weight: bold;

    margin-left: -125px;
    margin-right: 70px;
    padding: 60px 30px 0 30px;
    font-size: 23px;
    margin-top: 250px;
    line-height: 45px;
    border: 10px solid #5b5b5c;

}

#WHO {
    background-color:#adb6bd;
    grid-column: 4/5;
    grid-row: 2/3;
    width: 170px;
    height: 170px;
    border-radius: 50%;  
    font-size: 45px; 
    padding: 0 0 20px 30px;
    margin-top: -5px;
    margin-right: 200px;
    border: 5px solid #9e9fa0;
}

#when_information{
    grid-column:1/3;
    grid-row: 3/5;
    margin-left: 45px;
    padding: 25px;
    font-weight: bold;
    width: 100%;
    color:#265e7c;
    font-size: 30px;
    line-height: 50px;
    text-align: justify;
    text-justify: inter-word;
}

#WHEN {
    background-color: #adb6bd;
    grid-column: 1/3;
    grid-row: 2/3;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    font-size: 45px; 
    padding: 0 15px 20px 15px;
    margin-left: 240px;
    margin-top: 125px;
    border: 5px solid #9e9fa0;
    margin-bottom: -20px;
}

#background_box {
    background-color: #A93F55;
    margin: 25px;
    margin-top: 40px;
    grid-column: 1/5;
    grid-row: 1/2;
    z-index: -1;
    border-radius: 5px;
    height: 275px;
}

/* Page 3 CSS */
#tutoring_how {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#how{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 180px;
    height: 150px;
    align-self: center;
    justify-self: center;
    background-color:#c3c6c9;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 55px;
    font-family: 'Zen Kaku Gothic Antique';
    padding-top: 55px;
    padding-left: 28px;
    font-weight: bold;
    border: 20px solid #5b5b5c;
    
}

.how_to_video {
    grid-column: 2/4;
    width: 70%;
    grid-row: 1/3;
    margin: 80px 150px 50px 40px;
    border: 40px solid #53131E ;

}

#instructions {
    grid-column: 1/4;
    grid-row: 3/4;
    background-color:#A93F55;
    color:#f7fbfe;
    margin: 50px 50px 50px 50px;
    font-size: 45px;
    font-family: 'Architects Daughter';
    align-self: center;
    justify-self: center;
    padding: 0 295px 10px 295px;
    margin-top: 20px;
    text-shadow: 2px 2px #444546;
 
}

#tutoring_instructions {
    grid-column: 1/4;
    grid-row: 3/6;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 100px;
    font-family: 'Zen Kaku Gothic Antique';
    font-size: 25px;
    margin-top: 125px;
    line-height: 40px;
    margin-bottom: -175px;
    background-color:#f1f4f7;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer h3 {
    color: black;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

h2 {
    margin: 0;
}

footer {
    background-color: #adb6bd;
    margin-top: 200px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Architects Daughter';
    max-width: 1600px;
}

footer a {
    color: #265e7c;
    text-decoration: none;
}

footer h3 a:hover {
    text-decoration: underline;
    color: #53131E;
}

footer h3 {
    color: #A93F55;
}

footer .social img {
    padding-top: 15px;
}

footer a:hover {
    color: #424444;
}

@media screen and (max-width: 900px){
    #introduction_to_tutoring {
        display: block;
    }
    
    /* body {
        display: block;
    } */
}